* {
  margin: 0;
  padding: 0;
}
nav {
  text-align: center;
}
h1 {
  display: inline;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  vertical-align: middle;
}
section > img {
  width: 200px;
  height: 200px;
}
#section1 > img {
  float: right;
}
#section2 > img {
  float: left;
}
ul {
  text-align: center;
  display: inline-block;
}
li {
  list-style: none;
}
footer {
  text-align: center;
}
footer img {
  width: 300px;
  height: 200px;
}
