* {
  margin: 0;
  padding: 0;
}
ul {
  display: inline;
  padding-top: 10%;
  padding-left: 10%;
}
li {
  list-style: none;
}
footer {
  display: flex;
  text-align: center;
}
footer img {
  padding-top: 5%;
  padding-left: 20%;
  padding-bottom: 20px;
  height: 200px;
}
